{% extends 'base.html.twig' %}

{% block title %}Hello MealsController!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>Nos differents plats ✅</h1>

<div class = meals_image>
        <img src="{{ asset(vich_uploader_asset(meal.images,'imageFile','AppBundle\Entity\Meals'))}} alt="image 1"  >
</div>

</div>
{% endblock %}
