{% extends 'base.html.twig' %}

{% block title %}Hello MealsController!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>Nos differents plats ✅</h1>



</div>
{% endblock %}
